<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assistedlivingapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreateMonthlyReminder"></activity>
        <activity android:name=".AddNewPrescription" />
        <activity android:name=".DailyNotification" />
        <activity android:name=".SundayTasks" />
        <activity android:name=".SaturdayTasks" />
        <activity android:name=".FridayTasks" />
        <activity android:name=".ThursdayTasks" />
        <activity android:name=".WednesdayTasks" />
        <activity android:name=".TuesdayTasks" />
        <activity android:name=".MondayTasks" />
        <activity android:name=".CreateNewDailyTask" />
        <activity android:name=".DailyTasks" />
        <activity android:name=".PrescriptionService" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UserProfile" />
        <activity android:name=".Register" />
        <activity android:name=".PanicButton" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>